.header {
  text-align: center;
  background-color: yellow;
  height: 100px;
  width: 1519px;
}

.DailyWeatherDisplay {
display: inline-block;
border: 2px solid red;
color: black;
padding: 40px;
padding-top: 0px;
width: 73px;
height: 4cm;
text-decoration: none;
line-height: 0.1cm;
position: relative;
}

.search {
  position: absolute;
  left: 10vh;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.user {
  padding: 10px;
  width: 263px
}

.user:hover{
   background-color: yellow;
}

.user-list {
height: 140px;
overflow: scroll;
width: 300px;
}

li:hover {
  background-color: yellow;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.Day {
  align-self: flex-start;
}

.menu-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-items {
  width: 785px;
  white-space: nowrap;
  overflow: hidden;
}

.round {
  color: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.cityWeather {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 300px
}

.citiesWeather {
  display: flex;
  flex-direction: row
}

.WeatherPic {
  position: absolute;
  top: 7.5vh;
  right: 7vh;
}

.weather {
  position: absolute;
  top: 15.5vh;
  right: 7.55vh;
}
